@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 15px;
  @apply font-quasimoda;
}
h1,
nav.span {
  @apply font-fields;
}
p {
  @apply text-slate-600 my-4 pb-3 antialiased;
}

a,
.prose p a {
  @apply text-coral no-underline transition duration-75 hover:text-opacity-80 font-semibold;
}

html,
body {
  @apply bg-gray-300 p-3;
}
body::-webkit-scrollbar,
.changeScrollbar::-webkit-scrollbar {
  @apply w-2 cursor-pointer;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.2);
}

body::-webkit-scrollbar-thumb,
.changeScrollbar::-webkit-scrollbar-thumb {
  @apply bg-coral rounded-md cursor-pointer;
}

* {
  box-sizing: border-box;
}
