@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-gray-300 p-3;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body::-webkit-scrollbar,
.changeScrollbar::-webkit-scrollbar {
  @apply w-2 cursor-pointer;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.2);
}

body::-webkit-scrollbar-thumb,
.changeScrollbar::-webkit-scrollbar-thumb {
  @apply bg-coral rounded-md cursor-pointer;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
